
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

    .superdiv{
        align-self: center;
        justify-self: center;
        height: 85vh;
        width: 95%;
        margin: 5px;
        padding: 5px;
    }

    /*___ TITULO ___*/
    .contenedorTitulo{
        display:flex;
        flex-direction:column;
        box-sizing: border-box;
        min-width: 100%;
        max-width: 100%;
        gap: 5px;
        margin: 5px;
        margin-bottom: 10px;

        padding-left: 10px;
        padding-right: 10px;
    }
        
        .titulo{
            width: 100%;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 1000;
            border-radius: 5px;
            border: none;
            outline: none;
            text-align: left;
            background-color: transparent;
            padding-right: 5px;
            padding-left: 5px;
        }

        .titulo::placeholder {
            font-style: italic;
        }

        .contenedorControles{
            display:flex;
            flex-direction:row;
            box-sizing: border-box;
            min-width: 100%;
            max-width: 100%;
            gap: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

            .botonAgregarContenedor, .botonCargarTablero, .botonGuardarTablero{
                min-width: 5em;
                max-width: 5em;
                height: 2em;
                align-content: center;
                justify-content: center;
                border-radius: 5px;
                border: none;
                outline: none;
                color: rgb(0,0,0);
            }

            .botonAgregarContenedor:hover, .botonCargarTablero:hover, .botonGuardarTablero:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,0.1)
            } 

            .inputCargarTablero{
                min-width: 5em;
                max-width: 5em;
                height: 2em;

                align-content: center;
                justify-content: center;
        
                border-radius: 5px;
                border: none;
                outline: none;

                display: none;
            }

    /*___ SUBTITULO ___*/
    .contenedorDeContenedores{
        display: flex;
        flex-direction: row;
    
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;

        margin-left: 5px;
        margin-right: 5px;

        box-sizing: border-box;
        overflow-x: auto;
    }

        .macroContenedor{   
            display: flex;
            flex-direction: column;

            min-width: 21em;
            max-width: 21em;

            box-sizing: border-box;
            
            padding: 5px;
            overflow-x: hidden;
        }

            .contenedorSubTitulo{
                display: flex;
                flex-direction: column;

                width: 100%;
                padding: 5px;

                box-sizing: border-box;
    
                margin-bottom: 10px;
                border-radius: 10px;

                row-gap: 5px;
            }


                .contenedorSubTitulo_l1{
                    display: flex;               
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                    column-gap: 5px;
                 }

                    .textoContador{
                        width: 15%;                        
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-weight: bold;
                        margin: 0;
                        padding: 3px;
                        font-style: italic;
                        border-radius: 5px;
                    }
                    
                    .subTitulo{
                        width: 85%;

                        font-size: 20px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;

                        align-content: center;

                        border: none;
                        outline: none;
                        background-color: transparent;
                        border-radius: 5px;
                        padding: 3px;
                    }

                    .subTitulo::placeholder {
                        font-style: italic;
                    }

                    .subTitulo:hover{
                        background-color: rgba(0,0,0,0.05);
                    }


                .contenedorSubTitulo_l2{
                    display: flex;               
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                    column-gap: 10px;

                }

                    .campoFiltro{
                        width: 40%;

                        margin: 0px;
                        padding: 3px;

                        font-size: 14px;
                        font-weight: 300;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-style: italic;
                        color:rgb(120,120,120);

                        justify-content: center;
                        align-content: center;

                        /* border: none; */
                        border-radius: 5px;
                        border: none;
                        outline: none;

                        background-color: transparent;

                    }

                    .inputFiltro{
                        width: 60%;

                        margin: 0px;
                        padding: 3px;

                        font-size: 14px;
                        font-weight: 300;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-style: italic;
                        color:rgb(120,120,120);

                        justify-content: center;
                        align-content: center;

                        /* border: none; */
                        border-radius: 5px;
                        border: 0px solid rgb(200,200,200);
                        outline: none;

                        background-color: transparent;

                    }

                    .campoFiltro::placeholder, .inputFiltro::placeholder {
                        color: rgb(120,120,120);
                    }

                    .inputFiltro:hover{
                        background-color: rgba(0,0,0,0.05);
                    }

                    .campoFiltro:hover{
                        background-color: rgba(0,0,0,0.05);
                        cursor: pointer;
                    }


                .contenedorSubTitulo_l3{
                    display: flex;
                    flex-wrap: wrap;                    
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                }

                    .botonIzquierda, .botonDerecha, .botonAgregarTarea,  .botonConfigurarContenedor, .botonEliminarContenedor{
                        min-width: 3em;
                        max-width: 3em;
                        height: 2em;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        justify-content: center;
                        align-content: center;
                        background-color: transparent;
                        color: rgb(0,0,0);
                    }

                    .botonIzquierda:hover, .botonDerecha:hover, .botonAgregarTarea:hover, .botonConfigurarContenedor:hover{
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.05);
                    }

                    .botonEliminarContenedor:hover{
                        cursor: pointer;
                        background-color: rgb(255, 150, 150);
                    }


            /*___ CONTENEDORES DE TAREAS ___*/
            .contenedorTareas{
                display: flex;
                flex-direction: column;

                width: 100%;
                height: 100%;

                box-sizing: border-box;
                overflow-y: auto;
                overflow-x: hidden;
            }
                
                .contenedorTareasListadas{   
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    overflow-y: auto;
                    row-gap:10px;
                    }

                    /*___ TAREA LISTADA ___*/
                    .tareaListada{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        row-gap: 5px;
                    }


                    .tareaListada:hover{
                        cursor: pointer;
                    }

                        /*___ RENGLON 1 ___*/
                        .tareaListada_l1{
                            display: flex;
                            flex-direction: row;
                            box-sizing: border-box;
                            align-items:stretch;
                            justify-items: stretch;
                        
                        }

                            .tituloTarea{
                                width: 100%;
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                text-align: left;
                                outline: none;
                                border: none;
                                background-color: transparent;
                                resize: none;
                                padding: 5px;
                                border-radius: 7px;
                            }

                            .tituloTarea:hover{
                                background-color: rgba(0, 0, 0, 0.05);
                            }

                            .tituloTarea::placeholder {
                                font-style: italic;
                            }

                        /*___ RENGLON 2 ___*/
                        .tareaListada_l2{
                            display: flex;
                            flex-wrap: wrap;
                            box-sizing: border-box;
                        }

                            /*___ CONTROL ___*/ 
                            .botonL, .botonUp, .botonDown, .botonR, .botonConfigTarea, .botonMinMax, .botonEliminarTarea {
                                min-width: 3em;
                                max-width: 3em;
                                height: 2em;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                justify-content: center;
                                align-content: center;
                                background-color: transparent;
                                color: rgb(150,150,150);
                            }

                            .botonL:hover, .botonUp:hover, .botonDown:hover, .botonR:hover, .botonConfigTarea:hover, .botonMinMax:hover {
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.05);
                                color: rgb(0,0,0);   
                            }

                            .botonEliminarTarea:hover{
                                cursor: pointer;
                                background-color: rgb(255, 150, 150);
                                color: rgb(0,0,0);
                            }

                        .tareaListada_l3{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            padding-top: 1px;
                            padding-bottom: 1px;
                            box-sizing: border-box;
                            column-gap: 10px;
                            row-gap: 10px;
                            align-items: stretch;
                        }
                            /*___ DATOS ___*/ 
                            .textoTarea{
                                width: 100%;
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: 300;
                                border-radius: 5px;
                                text-align: left;
                                outline: none;
                                border: none;
                                resize: none;
                            }

                            .pesoTarea, .etiqueta, .responsable{
                                min-width: 5em;
                                max-width: 5em;
                                min-height: 1.5em;
                                max-height: 1.5em;

                                font-size: 12px;
                                font-family: Arial, Helvetica, sans-serif;

                                border-radius: 5px;
                                border: none;
            
                                outline: none;
                            }

                            .pesoTarea::placeholder {
                                font-style: italic;
                            }

                            .etiqueta::placeholder {
                                font-style: italic;
                            }

                            .responsable::placeholder {
                                font-style: italic;
                            }

                            .fechaInicio, .fechaFin{
                                min-width: 5em;
                                max-width: 5em;
                                min-height: 1.5em;
                                max-height: 1.5em;


                                font-size: 12px;
                                font-family: Arial, Helvetica, sans-serif;

                                border-radius: 5px;
                                border: none;
            
                                outline: none;
                                text-align: left;
                            }

/*___ VENTANA EMERGENTE ___*/
.ventanaEmergente{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-radius: 10px;
}

    .textoVentana{
    width: 100%;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 10px;
    border: none;
    
    outline: none;
    text-align: center;

    }

    .color_1{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
    
        background-color: rgb(245,245,245);
        border-radius: 20px;

        border: none;
        outline: none;
    }


    .color_2{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
        background-color: rgb(255, 243, 176);
        border-radius: 20px;

        border: none;
        outline: none;
    }


    .color_3{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
        background-color: rgb(179, 205, 224);
        border-radius: 20px;
    
        border: none;
        outline: none;
    }

    .color_4{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
        background-color: rgb(255, 182, 193);
        border-radius: 20px; 

        border: none;
        outline: none;
    }

    .color_5{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
        background-color: rgb(182, 229, 182);
        border-radius: 20px; 

        border: none;
        outline: none;
    }
    
    .color_1:hover, .color_2:hover, .color_3:hover, .color_4:hover, .color_5:hover{
        cursor: pointer;
    }

/*___ MEDIA QUERY ___*/
@media (min-width: 0px) and (max-width: 479px){
    .macroContenedor{   
        display: flex;
        flex-direction: column;

        max-width: 18em;
        min-width: 18em;

        box-sizing: border-box;

        padding: 5px;
        overflow-x: hidden;
    }
}

@media (min-width: 480px) and (max-width: 719px){
    .macroContenedor{   
        display: flex;
        flex-direction: column;

        max-width: 19em;
        min-width: 19em;

        box-sizing: border-box;

        padding: 5px;
        overflow-x: hidden;
    }
}

@media (min-width: 720px) and (max-width: 1079px){
    .macroContenedor{   
        display: flex;
        flex-direction: column;

        max-width: 20em;
        min-width: 20em;

        box-sizing: border-box;

        padding: 5px;
        overflow-x: hidden;
    }
}

@media (min-width: 1080px){
    .macroContenedor{   
        display: flex;
        flex-direction: column;

        max-width: 21em;
        min-width: 21em;

        box-sizing: border-box;

        padding: 5px;
        overflow-x: hidden;
    }
}




