body{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

    .superdiv{
        align-self: center;
        justify-self: center;
        height: 80vh;
        width: 100%;
    }

    /*___ TITULO ___*/
   .contenedorTitulo{
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        row-gap: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 2px solid;
        
        margin-bottom: 10px;
        padding: 10px;
    }
        
    /*Contenedor titulo*/
        .titulo_l1{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
            .titulo{
                width: 100%;
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 1000;
                border-radius: 5px;
                border: none;
                outline: none;
                text-align: left;
                background-color: transparent;
            }

            .titulo::placeholder {
                font-style: italic;
            }

            .titulo:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

        /*Contenedor fechas*/    
        .titulo_l2{
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 5px;
        }

            .fechaInicioSesion, .fechaUltimoGuardado{
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                font-size: 0.8em;
                color: rgb(100,100,100);
            }
         
        /*Contenedor controles */
        .titulo_l3{
            display:flex;
            flex-wrap: wrap;
            flex-direction:row;
            box-sizing: border-box;
            width: 100%;
            gap: 10px;
        }
        
            .botonAgregarContenedor, 
            .botonCargarTablero, 
            .botonGuardarTablero,
            .boardView,
            .listView{
                min-width: 5em;
                max-width: 5em;
                height: 2em;
                align-content: center;
                justify-content: center;
                border-radius: 5px;
                border: none;
                outline: none;
                color: rgb(0,0,0);
            }

            .botonAgregarContenedor:hover, 
            .botonCargarTablero:hover, 
            .botonGuardarTablero:hover,
            .boardView:hover,
            .listView:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,0.1)
            } 

            .inputCargarTablero{
                min-width: 5em;
                max-width: 5em;
                height: 2em;

                align-content: center;
                justify-content: center;
        
                border-radius: 5px;
                border: none;
                outline: none;

                display: none;
            }

    /*___ SUBTITULO ___*/
    .contenedorDeContenedores{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        column-gap: 10px;
    }


    /* El macroContendor se controla con media queries al final del codigo */

            .contenedorSubTitulo{
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                border-radius: 10px;
                row-gap: 5px;
                border: 2px solid rgb(0,0,0);
                align-items: stretch;

                margin-bottom: 10px;
                padding: 10px;
            }

                .contenedorSubTitulo_l1{
                    display: grid; 
                    grid-template-columns: repeat(12, 1fr);
                    width: 100%;             
                    box-sizing: border-box;
                    column-gap: 5px;
                 }

                    .textoContador{
                        grid-column: 4 span;                        
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-weight: bold;
                        margin: 0;
                        font-style: italic;
                        border-radius: 5px;
                    }
                    
                    .subTitulo{
                        grid-column: 8 span;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        align-content: center;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        border-radius: 5px;
                    }

                    .subTitulo::placeholder {
                        font-style: italic;
                    }

                    .subTitulo:hover{
                        background-color: rgba(0,0,0,0.05);
                    }


                .contenedorSubTitulo_l2{
                    width: 100%;
                    display: flex;
                    flex-direction: row;  
                    flex-wrap: nowrap;             
                    box-sizing: border-box;
                    column-gap: 10px;
                }

                    .campoFiltro{
                        width: 40%;

                        font-size: 14px;
                        font-weight: 300;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-style: italic;
                        color:rgb(120,120,120);

                        justify-content: center;
                        align-content: center;

                        border-radius: 5px;
                        border: none;
                        outline: none;

                        background-color: transparent;
                    }

                    .inputFiltro{
                        width: 60%;

                        font-size: 14px;
                        font-weight: 300;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-style: italic;
                        color:rgb(120,120,120);

                        align-items: center;

                        border-radius: 5px;
                        border: 0px solid rgb(200,200,200);
                        outline: none;

                        background-color: transparent;
                    }

                    .campoFiltro::placeholder, .inputFiltro::placeholder {
                        color: rgb(120,120,120);
                    }

                    .inputFiltro:hover{
                        background-color: rgba(0,0,0,0.05);
                    }

                    .campoFiltro:hover{
                        background-color: rgba(0,0,0,0.05);
                        cursor: pointer;
                    }


                .contenedorSubTitulo_l3{
                    display: flex;
                    flex-wrap: wrap;                    
                    box-sizing: border-box;
                }

                    .botonIzquierda, 
                    .botonDerecha, 
                    .botonAgregarTarea,  
                    .botonConfigurarContenedor,
                    .botonMinMaxContenedor, 
                    .botonEliminarContenedor{
                        min-width: 3em;
                        max-width: 3em;
                        height: 2em;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        justify-content: center;
                        align-content: center;
                        background-color: transparent;
                        color: rgb(0,0,0);
                    }

                    .botonIzquierda:hover, 
                    .botonDerecha:hover, 
                    .botonAgregarTarea:hover, 
                    .botonConfigurarContenedor:hover,
                    .botonMinMaxContenedor:hover{
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.05);
                    }

                    .botonEliminarContenedor:hover{
                        cursor: pointer;
                        background-color: rgb(255, 150, 150);
                    }


            /*___ CONTENEDORES DE TAREAS ___*/
            .contenedorTareasListadas{   
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                overflow-y: auto;
                row-gap:10px;
            }

                    /*___ TAREA LISTADA ___*/
                    .tareaListada{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        row-gap: 5px;
                    }


                    .tareaListada:hover{
                        cursor: pointer;
                        border: 1px solid;
                    }

                        /*___ RENGLON 1 ___*/
                        .tareaListada_l1{
                            display: grid;
                            grid-template-columns: repeat(8, 1fr);
                            flex-direction: row;
                            flex-wrap: wrap;
                            box-sizing: border-box;
                            row-gap: 0px;
                            column-gap: 10px;
                            align-items: center;
                        }

                            .estadoTarea{
                                grid-column: 1 span;
                                align-self: flex-start;
                                height: 1.5em;
                            }
                            
                            .tituloTarea{
                                font-size: 15px;
                                grid-column: span 7;
                                
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                text-align: left;
                                
                                outline: none;
                                border: none;
                                background-color: transparent;
                                resize: none;
                                border-radius: 7px;
                                padding: 3px;
                            }

                            .tituloTarea:hover{
                                background-color: rgba(0, 0, 0, 0.05);
                            }

                            .tituloTarea::placeholder {
                                font-style: italic;
                            }

                            .tituloFechas{
                                height: 1.5em;
                                font-size: 0.8em;
                                grid-column: span 1;
                            
                                font-family: Arial, Helvetica, sans-serif;
                                font-style: italic;
                                color: rgb(120,120,120);
                                font-weight: bold;
                                
                                padding-top: 4px;
                                justify-self: right;
                            }


                            .fechaInicio, .fechaFin{
                                height: 1.5em;
                                font-size: 0.8em;
                                grid-column: span 7;

    
                                font-family: Arial, Helvetica, sans-serif;
                                font-style: italic;
                                color: rgb(120,120,120);
                                
                                align-self: center;
                                justify-self: left;
                              
                                border-radius: 3px;
                                border: none;
                                outline: none;
                                background-color: transparent;                                
                            }


                            .fechaInicio:hover, .fechaFin:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.05);
                                color: rgb(0,0,0);  
                            }

                        /*___ RENGLON 2 ___*/
                        .tareaListada_l2{
                            display: flex;
                            flex-wrap: wrap;
                            box-sizing: border-box;
                        }

                            /*___ CONTROL ___*/ 
                            .botonL, 
                            .botonUp, 
                            .botonDown, 
                            .botonR, 
                            .botonConfigTarea, 
                            .botonMinMaxTarea, 
                            .botonEliminarTarea {
                                min-width: 3em;
                                max-width: 3em;
                                height: 2em;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                justify-content: center;
                                align-content: center;
                                background-color: transparent;
                                color: rgb(150,150,150);
                            }

                            .botonL:hover, 
                            .botonUp:hover, 
                            .botonDown:hover, 
                            .botonR:hover, 
                            .botonConfigTarea:hover, 
                            .botonMinMaxTarea:hover {
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.05);
                                color: rgb(0,0,0);   
                            }

                            .botonEliminarTarea:hover{
                                cursor: pointer;
                                background-color: rgb(255, 150, 150);
                                color: rgb(0,0,0);
                            }

                        .tareaListada_l3{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            padding-top: 1px;
                            padding-bottom: 1px;
                            box-sizing: border-box;
                            column-gap: 10px;
                            row-gap: 10px;
                            align-items: stretch;
                        }
                            /*___ DATOS ___*/ 
                            .textoTarea{
                                width: 100%;
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: 300;
                                border-radius: 5px;
                                text-align: left;
                                outline: none;
                                border: none;
                                resize: none;
                                padding: 5px;
                            }

                            .pesoTarea, .etiqueta, .responsable{
                                min-width: 6em;
                                max-width: 6em;
                                min-height: 1.5em;
                                max-height: 1.5em;

                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;

                                border-radius: 5px;
                                border: none;
            
                                outline: none;
                            }

                            .pesoTarea::placeholder,
                            .etiqueta::placeholder,
                            .responsable::placeholder {
                                font-style: italic;
                            }

                            

/*___ VENTANA EMERGENTE ___*/
.ventanaEmergente{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-radius: 10px;
}

    .textoVentana{
    width: 100%;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 10px;
    border: none;
    
    outline: none;
    text-align: center;

    }

    .color_1, 
    .color_2, 
    .color_3, 
    .color_4, 
    .color_5{
        min-width: 3em;
        max-width: 3em;
        height: 3em;
        border-radius: 20px;
        border: none;
        outline: none;
    }

    .color_1{background-color: rgb(245,245,245);}
    .color_2{background-color: rgb(255, 243, 176);}
    .color_3{background-color: rgb(179, 205, 224);}
    .color_4{background-color: rgb(255, 182, 193);}
    .color_5{background-color: rgb(182, 229, 182);}
    
    .color_1:hover, .color_2:hover, .color_3:hover, .color_4:hover, .color_5:hover{
        cursor: pointer;
    }

/*___ MEDIA QUERY ___*/
@media (min-width: 0px) and (max-width: 479px){
    .macroContenedor{  
        min-width: 100%;
        max-width: 100%; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

@media (min-width: 480px) and (max-width: 719px){
    .macroContenedor{   
        min-width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

@media (min-width: 720px) and (max-width: 1079px){
    .macroContenedor{   
        min-width: 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

@media (min-width: 1080px){
    .macroContenedor{   
        min-width: 25%;
        max-width: 25%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}


